<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tous les chemins mènent à la philosophie</title>

  </head>
  <body>
    <br>
    <a href="/">
      <img src = "/static/logo.png" width="300">
    </a>
    <br>
    <i style="font-family: 'Times New Roman'"> Interview Simulator </i>

    <br>
    <br>
    <br>
    <br>
    <br>


    {% block body %}
      {# Début du bloc "body", dont vous devez modifier le contenu #}
      <p>{{ message }}</p>

      <p style="font-size: 1.5em"> Launch a module </p>
      <form action="/video" method="post">
        <!-- contenu du formulaire ici --> 

        <br>
        <input type="submit" name="start" value="Video Interview"> 

      </form>
      <br>

      {# Fin du bloc "body" #}
    {% endblock %}

    <br>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="{{ category }}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <br>
    <form action="/rules">
      <input class="but" type="submit" value="Comment ça marche ?">
    </form>

  </body>
</html>
