<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Interview Simulator</title>

  </head>
  <body>
    <br>
    <a href="/">
      <img src = "/static/CSS/logo.png" width="300">
    </a>
    <br>
    <i style="font-family: 'Times New Roman'"> Interview Simulator </i>

    <br>
    <br>
    <br>
    <br>
    <br>

 {% block body %}
  <p style="font-size: 1.5em"> Launch a module </p>
  <div class="row">
      <div class="column" id="left-col">
        <form action="/video" method="post">
          <input type="submit" name="video" value="Video and Audio Interview"> 
        </form>
      </div>
      <div class="column" id="left-col">
        <form action="/text" method="post">
          <input type="text" id="text" name="text" required minlength="1" maxlength="12000"><br>
          <input type="submit" name="text" value="Start Analysis"> 
        </form>
      </div>
  </div>

      {# Fin du bloc "body" #}
    {% endblock %}

    <br>

    <br>
    <form action="/rules">
      <input class="but" type="submit" value="How does it work ?">
    </form>

  </body>
</html>
