Flask
Gunicorn
Werkzeug
numpy
pandas
opencv-python
cmake
argparse
scipy
dlib
tensorflow
imutils
tika
wave
nltk
gensim
seaborn
scikit-learn
dill
keras
wordcloud
Flask
Werkzeug
numpy
pandas
cv2
time
re
os
argparse
collections
scipy
dlib
tensorflow
imutils


